label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

input {
  box-sizing: border-box;
  display: block;
  max-width: 600px;
  padding: 0.5rem;
  width: 100%;

  &:focus {
    outline: #336699 auto 1px;
  }
}

ul.search-result {
  margin-top: 0;
  padding-left: 0;

  li {
    list-style-type: none;
  }

  a {
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    box-sizing: border-box;
    color: black;
    display: inline-block;
    max-width: 600px;
    padding: 0.5rem;
    text-decoration: none;
    width: 100%;

    &:hover {
      background-color: #435a60;
      color: white;
    }
  }
}
