.hero-image {
  border: 1px solid #eee;
  height: 250px;
  margin-bottom: 8px;
  min-height: 250px;
  min-width: 250px;
  width: 250px;
}

.labeled-input-container {
  align-items: center;
  display: flex;
  gap: 8px;
  margin-top: 8px;

  &.labeled-text-area-container {
    align-items: flex-start;

    label {
      margin-top: 9px;
    }

    .text-area {
      height: 200px;
      width: 400px;
    }
  }

  .text-display {
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1em;
    padding: 0.5rem;
  }
}

button {
  margin-top: 20px;
  margin-right: 0.5rem;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;

  &:hover {
    background-color: #cfd8dc;
  }

  &:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
}
